node_modules
config.js
Lavalink/logs
src/commands/Host/test.js
src/utils/logs/roll-????.??.??.log
jsdocs/
*.traineddata
package-lock.json
LICENSE
README.md
.github
.git
.eslintsrc.json
docs
.
..
.cache
.config
.data
Lavalink